.App {
	font-family: sans-serif;
	text-align: center;
}

.heart {
	fill: gray;
	position: relative;
	top: 0px;
	width: 50px;
	animation: pulse 1s ease infinite;
	transition: all 1s;
	width: 20px;
	height: 20px;
}
.heart:hover {
	fill: pink;
}

.heart-fill {
	fill: red;
	animation: pulse2 1s ease infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes pulse2 {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
